body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

h1 {
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

button {
  background-color: orange;
  color: white;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: orange;
}

#root {
  max-width: 800px;
  margin: 0 auto;
}

.buttons-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.buttons-container button {
  margin: 0 10px;
}

.summary-table {
  margin-top: 20px;
}
